.c-item {
  height: 650px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.card-item {
  height: 260px;
  width: 400px;
}

@keyframes pulse {
  from, to {
    scale: 1;
  }

  50% {
    scale: 1.08;
  }
}

.card-item > img {
  height: 100%;
  width: 106.7%;
  object-fit: cover;
  border-radius: inherit;

  align-self: center;
  transform: scale(1.01);

}

.card-item:hover{
  scale: 1.08;
  transition: all .9s ease;
-webkit-transition: all .9s ease;
}

.tile:hover {
  transform: scale(1.1);
  
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}


.thumbnail{
  object-fit: cover;
  max-width: 180px;
  max-height: 100px;
  cursor: pointer;
  opacity: 0.6;
  margin: 5px;
  border: 2px solid black;
}

.thumbnail:hover{
  opacity: 1;
}

.active{
  opacity: 1;
}

#slider-wrapper{
  max-width: 550px;
  display: flex;
  min-height: 100px;
  align-items: center;
}

#slider{
  width: 440px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

#leftarrow:hover{
  opacity: .5;
  width: 47px;
  height: 47px;
}

#rightarrow:hover{
  opacity: .5;
  width: 47px;
  height: 47px;
}

